
@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url('AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),  url('AvenirNext-DemiBoldItalic.woff') format('woff'), url('AvenirNext-DemiBoldItalic.ttf')  format('truetype'), url('AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
