//= require normalize-css/normalize
//= require ss-social-regular
//= require _erb/_syntax

@import 'bourbon/bourbon';
@import 'bitters/bitters';
@import 'neat/neat';

@import 'colors';
@import 'fonts';
@import 'mixins';

$visual-grid: true;

body {
	font-family: 'Cardo', serif;
	font-weight: 400;
	background: url('../images/brushed/brushed.png');
	background-repeat: repeat;
}

header {
	background: url('../images/header_photo_blue.png') no-repeat center top;
	min-height: 720px;
}

nav {
	a {
		font-family: 'Yanone Kaffeesatz';
		font-weight: 700;
		font-size: 1.6em;
		color: $light-gray;
		text-align: center;

		padding: 30px 0 1.5em 0;

		@include span-columns(2);
		@include omega(5n);
		@include transition(color 0.1s linear);

		&:first-child {
			margin-left: 8.5%;
		}
		
		&:hover {
			color: $light-gray-darkened;
		}
	}
}

#circle_photo {
	width: 150px;
	height: 150px;
	@include border-radius(150px);
	border: 5px solid $light-gray;
	@include center-block;
	margin-bottom: 20px;
}

#selfie {
	margin-top: 2%;

	h1 {
		color: $light-gray;
		font-family: 'Yanone Kaffeesatz';
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 3px;
		text-align: center;
		margin-bottom: 8px;

	}

	p {
		color: $light-gray;
		font-family: 'Yanone Kaffeesatz';
		font-size: 26px;
		letter-spacing: .6px;
		text-align: center;
		margin-bottom: 2em;
	}
}

.arrow {
	@include triangle(50px, $table-dark-blue, down);
	@include center-block;
	z-index: 2;
}

.container {
	@include outer-container;
	margin: auto;
	max-width: 1280px;
	width: 94%;
}

.social {
	text-align: center;
	a {
		margin-left: 4.8%;
		margin-right: 4.8%;
		font-size: 30px;
		color: $light-gray-darkened;
		@include transition(color 0.1s linear);
		&:hover {
			color: $dark-gray;
		}
	}
}