/* style.css.scss */
@import 'colors';
@import 'fonts';

body {
  background-color: $FMO-blue;
  font-family: 'Quicksand', sans-serif;
}

section {
  padding: 0;
}

section.light_blue{
  background-color: $FMO-light-blue;
}

section.small             { height: 300px; }
section.medium            { height: 400px; }
section.large             { height: 600px; }
section.extra_large       { height: 800px; }
section.extra_extra_large { height: 1000px; }

  #title {
    padding-top: 40px;
    padding-bottom: 25px;
    height: 400px;
    background-image: url("/images/columbus-skyline_black_and_white.png");
    background-position: 50% 60%;
  }
    .profile {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      img {
        width: 190px;
        width: 180px;
        height: 180px;
        border: 5px solid white;
        border-radius: 15px;
        -webkit-border-radus: 15px;
        -moz-border-radius: 15px;
      }
      p {
        padding-left: 25px;
        text-decoration: bold;
        color: white;
        font-family: 'Poiret One', cursive;
        font-size: 2.5em;
      }
    }

.content {
  display: block;
  padding-top: 55px;
  margin: 0 auto;
  width: 650px;
  font-size: 1.6em;
  h1 {
    padding-top: 40px;
    text-align: center;
    color: $FMO-blue;
  }
  a {
    text-decoration: none;
    color: $FMO-orange;
  }
  li {
    padding-bottom: 20px;
  }
}
  .content.light_blue { color: $FMO-light-blue; }

/* Page Tabs */
.tab{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Poiret One', cursive;
  padding-bottom: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-bottom-border-right-radius: 5px;
  -moz-bottom-bottom-left-radius: 5px;
}

  #blue.tab {
    background-color: $FMO-blue;
    color: $FMO-light-blue;
  }

  #light_blue.tab {
    background-color: $FMO-light-blue;
    color: $FMO-blue;
  }

/* Links at the bottom of the page */
.meta {
  padding: 70px 0;
  text-align: center;
  a {
    font-size: 5.5em;
    text-decoration: none;
    color: $FMO-light-blue;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
    &:hover {
      color: $FMO-orange;
    }
    p {
      font-size: 16px;
    }
  }
  .block {
    display: inline-block;
    vertical-align: top;
    line-height: 1.3em;
    width: 170px;
    padding: 0 40px;
  }
}
