<header>
  <h1>Mark<b>Tareshawty</b></h1>
  <p class="personal-description">Software Developer & Design Enthusiast</p>
  <ul>
    <li><a href="{{ site.github_url }}"><span class="ss-social-circle ss-octocat"></span></a></li>
    <li><a href="{{ site.instagram_url}}"><span class="ss-social-regular ss-instagram"></span></a></li>
    <li><a href="{{ site.twitter_url }}"><span class="ss-social-regular ss-twitter"></span></a></li>
    <li><a href="{{ site.instagram_url}}"><span class="ss-social-regular ss-flickr"></span></a></li>
  </ul>
</header>
