<header class="masthead container">
  <h1><a href="/">Mark<b>Tareshawty</b></a></h1>
  <p>Software Developer & Design Enthusiast</p>
</header>

<aside class="sm-masthead container">
  <ul>
    <li><a href="https://www.flickr.com/photos/marktareshawty/"><i class="fa fa-flickr fa-lg"></i></a></li>
    <li><a href="https://github.com/{{ site.handle }}"><i class="fa fa-github fa-lg"></i></a></li>
    <li><a href="https://instagram.com/{{ site.handle }}"><i class="fa fa-instagram fa-lg"></i></a></li>
    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope fa-lg"></i></a></li>
    <li><a href="https://twitter.com/{{ site.handle}}"><i class="fa fa-twitter fa-lg"></i></a></li>
  </ul>
</aside>
