@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirNext-Bold.woff') format('woff'), url('fonts/AvenirNext-Bold.ttf')  format('truetype'), url('fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
