
@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),  url('AvenirNext-Medium.woff') format('woff'), url('AvenirNext-Medium.ttf')  format('truetype'), url('AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
