body {
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  width: 100%
}

.flex {
  display: flex;
}

.font-light {
  font-weight: 300;
}

.justify-content {
   justify-content: center;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-blue {
  color: #307EA9;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #646464;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
