@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
/* style.css.scss */
/* _colors.scss */
/* _fonts.scss */
/* line 6, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
body {
  background-color: #3e6b85;
  font-family: 'Quicksand', sans-serif; }

/* line 11, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
section {
  padding: 0; }

/* line 15, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
section.light_blue {
  background-color: #c5d2db; }

/* line 19, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
section.small {
  height: 300px; }

/* line 20, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
section.medium {
  height: 400px; }

/* line 21, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
section.large {
  height: 600px; }

/* line 22, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
section.extra_large {
  height: 800px; }

/* line 23, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
section.extra_extra_large {
  height: 1000px; }

/* line 25, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
#title {
  padding-top: 40px;
  padding-bottom: 25px;
  height: 400px;
  background-image: url("/images/columbus-skyline_black_and_white.png");
  background-position: 50% 60%; }

/* line 32, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
.profile {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  /* line 37, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
  .profile img {
    width: 190px;
    width: 180px;
    height: 180px;
    border: 5px solid white;
    border-radius: 15px;
    -webkit-border-radus: 15px;
    -moz-border-radius: 15px; }
  /* line 46, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
  .profile p {
    padding-left: 25px;
    text-decoration: bold;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 2.5em; }

/* line 55, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
.content {
  display: block;
  padding-top: 55px;
  margin: 0 auto;
  width: 650px;
  font-size: 1.6em; }
  /* line 61, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
  .content h1 {
    padding-top: 40px;
    text-align: center;
    color: #3e6b85; }
  /* line 66, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
  .content a {
    text-decoration: none;
    color: #f4921e; }
  /* line 70, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
  .content li {
    padding-bottom: 20px; }

/* line 74, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
.content.light_blue {
  color: #c5d2db; }

/* Page Tabs */
/* line 77, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
.tab {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Poiret One', cursive;
  padding-bottom: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-bottom-border-right-radius: 5px;
  -moz-bottom-bottom-left-radius: 5px; }

/* line 91, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
#blue.tab {
  background-color: #3e6b85;
  color: #c5d2db; }

/* line 96, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
#light_blue.tab {
  background-color: #c5d2db;
  color: #3e6b85; }

/* Links at the bottom of the page */
/* line 102, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
.meta {
  padding: 70px 0;
  text-align: center; }
  /* line 105, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
  .meta a {
    font-size: 5.5em;
    text-decoration: none;
    color: #c5d2db;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in; }
    /* line 111, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
    .meta a:hover {
      color: #f4921e; }
    /* line 114, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
    .meta a p {
      font-size: 16px; }
  /* line 118, /Users/mark/Code/Github Sites/tarebyte.github.io/source/stylesheets/style.css.scss */
  .meta .block {
    display: inline-block;
    vertical-align: top;
    line-height: 1.3em;
    width: 170px;
    padding: 0 40px; }
