body {
  @include regular-text;

  @include transform(translate3d(0,0,0));
  @include animation(fade-in 3s);

  line-height: 1;
  color: $black;
}

a {
  color: $link;
  text-decoration: none;
}

footer {
  border-top: 1px solid #EEE;

  p {
    @include semi-bold-text;

    font-size: 12px;
    padding-top: 20px;
    text-align: center;
  }
}

header {
  text-align: center;
  color: $black;
  margin: 15% 0 10%;

  h1 {
    @include light-text;
    @include animation(drop-twenty 2s);
  }

  p {
    color: #646464;
    font-size: 87.5%;
    @include animation(up-twenty 3s);
  }

  ul {
    @include span-columns(6);
    @include shift(3);
    @include animation(up-twenty 3s);

    font-size: 26px;
    list-style-type: none;
    padding: 0;

    li {
      padding: 0 2%;
      text-align: center;
      display: inline;

      a {
        @include transition(color 0.25s ease-in);
        color: $gray;

        &:hover {
          color: $link;
          @include transition(color 0.25s ease-in);
        }
      }
    }
  }
}

.container {
  @include outer-container;
}

.posts {
  @include animation(fade-in 6s);

  list-style-type: none;
  padding: 0;
}
