.posts {
  @media(max-width: 480px) {
    display: inline;

    a {
      font-size: 18px;
    }

    span {
      float: right;
    }
  }
}

.post-excerpt {
  @media(max-width: 480px) {
    display: none;
  }
}
