body {
  @include transform(translate3d(0,0,0));
  @include animation(fade-in 1s);
}

header {
  color: $black;
  margin: 15% 0 8%;
  text-align: center;

  h1 {
    @include light-text;
    @include animation(drop-twenty 1.5s);
  }

  p {
    @include animation(up-twenty 2.5s);
    color: #646464;
    font-size: 87.5%;
    padding-bottom: 14px;
  }

  ul {
    @include animation(up-twenty 2.5s);
    font-size: 26px;

    li {
      display: inline;
      padding: 0 15px;

      a {
        @include transition(color 0.25s ease-in);
        color: $gray;

        &:hover {
          @include transition(color 0.25s ease-in);
          color: $link;
        }
      }
    }
  }
}

.date {
  color: $gray;
  font-size: 14px;
}

.posts {
  @include animation(fade-in 6s);

  list-style-type: none;
  line-height: 110%;
  padding: 0 10%;

  a {
    @include transition(color 0.25s ease-in);
    font-size: 18px;
    text-decoration: underline;

    &:hover {
      @include transition(color 0.25s ease-in);
      color: darken($link, 10%);
    }
  }

  aside {
    border-bottom: 1px solid #F1F1F1;
    margin: 0 0 10%;
  }

  span {
    float: right;
  }
}
