html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;;
  line-height: 1;
  color: $black;
}

a {
  @include transition(color 0.25s ease-in);

  color: $link;
  text-decoration: none;

  &:hover {
    color: darken($link, 10%);
    @include transition(color 0.25s ease-in);
  }
}

b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

footer {
  @include outer-container;
  border-top: 1px solid #e0e0e0;
  height: 100px;
  margin-top: 150px;

  div.container {
    padding-top: 25px;
  }
}

header {
  @include outer-container;
  padding: 75px 0 25px;

  a {
    color: black;

    &:hover {
      color: $link;
    }
  }

  section {
    @include span-columns(5);
    margin: 0;
  }
}

p > code {
  background-color: #efefef;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 16px;
}

pre {
  padding: 10px;
  font-size: 14px;
}

ul {
  list-style: none;
}

.container {
  @include outer-container;

}

.content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
}

.content-wrapper:after {
  content: "";
  display: block;
}

.content {
  a:hover {
    color: lighten($link, 15%);
  }
}

.hero {
  background-color: $black;
  background-size: cover;
  background-position: 50% 50%;

  height: 200px;
  margin-bottom: 40px;
  width: 100%;
}

.highlight {
  border-radius: 3px;
}

.listing {
  padding: 0;

  a {
    font-size: 18px;
  }

  span {
    font-size: 12px;
    float: right;
    text-transform: uppercase;
    padding-top: 2px;
    color: #999;
  }
}

.menu {
  @include span-columns(7);
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 14px;

  text-transform: uppercase;

  margin: 0;
  padding-top: 8px;

  li {
    display: inline;
    float: right;

    &:nth-child(n+1) {
      padding-left: 15px;
    }
  }
}

.name a {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.post-content {
  line-height: 1.5;
  font-size: 20px;
}

.ss {
  float: right;

  a {
    color: $black;
    font-size: 30px;

    &:not(:last-child) {
      padding-right: 10px;
    }

    &:hover {
      color: $link;
      @include transition(color 0.25s ease-in);
    }
  }
}
