// Body resets
//
// Update the foundational and global aspects of the page.

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;

  @media (min-width: 820px) {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  margin-top: 2%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  @include color-transition(0.25s);
  color: #307ea9;
  text-decoration: none;

  &:hover,
  &:focus {
    @include color-transition(0.20s);
    color: lighten(#307ea9, 10%);
  }

  strong {
    color: inherit;
  }
}

// Images
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

// Tables
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
