---
title: Mark Tareshawty
---

%section{id: "title"}
  .profile
    %img{src: "http://www.gravatar.com/avatar/ce0b3aaf2cb23c057b70d73dc951d3e3?s=180"}
    %p { Mark Tareshawty }
    %p Web Developer

-# About Section
%section{id: "about"}
  .tab{id: "blue"} About
  %p{class: "about-text"}

-# Projects
%section{id: "projects"}
  .tab{id: "light-blue"} Projects

-# Fun Facts
%section{id: "fun_facts"}
  .tab{id: "blue"} Fun Facts

-# Contact
%section{id: "contact"}
  .tab{id: "light-blue"} Contact Me
  %section{class: "meta"}
    .block
    .block
    .block
    %br
    .block
    .block
