---
title: Mark Tareshawty
---

%section{class: "medium", id: "title"}
  .profile
    %img{src: "http://www.gravatar.com/avatar/ce0b3aaf2cb23c057b70d73dc951d3e3?s=180"}
    %p
      { Mark Tareshawty }
    %p
      Web Developer

-# About Section
%section{class: "extra_extra_large"}
  .tab{id: "light_blue"} About
  .content{class: "light_blue"}
    :markdown
      I'm a student at The Ohio State University studying Computer Science and Engineering.
      On my own time I study web/mobile development and work on cool projects with really talented people. I have a passion for open source software, and making the world a better place with new technology.
      <br /><br /><br />
      ###Random Facts:
      * Member of [The Ohio State Marching Band](http://tbdbitl.osu.edu).
      * President of the [Collegiate Web Developers Group](http://cwdg.github.io).
      * I am a member of the [Columbus Ruby Brigade](http://columbusrb.com) and occasionally the [Columbus Clojure Group.](http://www.columbusclojure.com/)
      * Love to run when I get the time to.

-# Projects
%section{class: "light_blue large"}
  .tab{id: "blue"} Projects
  .content
    :markdown
      #Coming Soon

-# Contact
%section{class: "small"}
  .tab{id: "light_blue"} Contact Me
  %section{class: "meta"}
    .block
      %a{href: "http://twitter.com/tarebyte"}
        %i{class: "icon-twitter"}
        %p Follow Me on Twitter
    .block
      %a{href: "http://github.com/tarebyte"}
        %i{class: "icon-github"}
        %p Most of my personal project's are on GitHub, go check them out.
    .block
      %a{href: "mailto:mark@tarebyte.net"}
        %i{class: "icon-envelope"}
        %p Let's Talk
